@keyframes floating {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-12rem) rotate(20deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 80%;
  }
}
@keyframes tiltRight {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(10deg);
  }
}
@keyframes tiltLeft {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-10deg);
  }
}
@keyframes untiltRight {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes untiltLeft {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 84.375em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 46.875em) {
  html {
    font-size: 50%;
  }
}

body {
  overflow-x: hidden;
  background-color: #070707;
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-template-columns: [hero-start nav-start] 8rem [sections-start] 1fr [sections-end] 8rem [hero-end nav-end];
  grid-template-rows: 100vh 100vh min-content min-content;
}

body {
  font-family: "Orbitron", sans-serif;
  color: #f9fafb;
  font-weight: 500;
}

.heading__primary {
  font-size: 9rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.5px;
}
.heading__secondary {
  font-size: 4.8rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: -1px;
}
.heading__tertiary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.mb-small {
  margin-bottom: 2rem;
}

.mb-medium {
  margin-bottom: 4rem;
}

.mb-large {
  margin-bottom: 6rem;
}

.mb-huge {
  margin-bottom: 25rem;
}

.hidden {
  display: none;
  opacity: 0;
}

.modal-visible {
  display: grid;
}

.navigation {
  grid-column: nav-start/nav-end;
  position: fixed;
  height: 8vh;
  width: 100vw;
  z-index: 3000;
  display: flex;
  align-items: center;
  padding: 0 4rem;
  font-size: 2rem;
  background-color: #070707;
}
@media only screen and (max-width: 37.5em) {
  .navigation {
    font-size: 1.6rem;
  }
}
.navigation__list {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.navigation__item {
  position: relative;
  overflow: hidden;
}
.navigation__item > * {
  display: inline-block;
  height: 100%;
  width: 100%;
  transition: all 0.3s;
}
.navigation__item:hover .navigation__link--visible {
  transform: translateY(-100%);
}
.navigation__item:hover .navigation__link--invisible {
  top: 0;
}
.navigation__link--visible {
  top: -100%;
}
.navigation__link--invisible:link, .navigation__link--invisible:visited {
  position: absolute;
  color: white;
  text-decoration: none;
  top: 100%;
  left: 0;
}
.navigation__link--invisible:hover, .navigation__link--invisible:active {
  color: white;
}

.logo {
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo__img {
  width: 4.4rem;
  height: 4.4rem;
}
.logo__text {
  font-size: 2.4rem;
}
@media only screen and (max-width: 37.5em) {
  .logo__text {
    font-size: 2rem;
  }
}

.card {
  font-size: 4rem;
  text-transform: uppercase;
  border-radius: 15px;
  padding: 2rem 4rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  height: 100%;
  cursor: pointer;
}
.card__heading {
  transition: all 0.3s;
  width: 120%;
  text-align: center;
}
@media only screen and (max-width: 106.25em) {
  .card__heading {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .card__heading {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .card__heading {
    font-size: 4rem;
  }
}
.card__img {
  width: 70%;
  transition: all 0.3s;
}
@media only screen and (max-width: 62.5em) {
  .card__img {
    font-size: 5rem;
  }
}
.card-2 .card__img {
  width: 60%;
}
.card-2 {
  width: 80%;
  height: 120%;
}
.card:hover .card__img {
  transform: scale(1.2) rotate(15deg);
}
.card:hover .card__heading {
  transform: translateY(-2rem);
  color: #4ade80;
}

.overlay {
  position: absolute;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background-color: rgba(7, 7, 7, 0.7);
}

.modal {
  position: absolute;
  z-index: 1200;
  background-color: #070707;
  border: 3px solid #16a34a;
  border-radius: 15px;
  animation: fadeIn 0.5s forwards;
}
.modal__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
@media only screen and (max-width: 62.5em) {
  .modal__content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.modal__btn-close {
  grid-column: 1/-1;
  background: none;
  border: none;
  color: #16a34a;
  width: 4.8rem;
  height: 4.8rem;
  margin-left: calc(100% - 7rem);
  margin-top: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}
.modal__btn-close:hover {
  color: #4ade80;
}
.modal__icon-close {
  width: 4.8rem;
  height: 4.8rem;
}
.modal__img {
  width: 60%;
}
@media only screen and (max-width: 62.5em) {
  .modal__img {
    grid-row: 2;
    width: 40%;
    padding-bottom: 5rem;
  }
}
.modal__text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20rem;
  padding: 0 8rem 6rem;
  font-size: 2.4rem;
}
@media only screen and (max-width: 106.25em) {
  .modal__text-box {
    gap: 10rem;
    padding: 0 4rem 5rem;
  }
}
@media only screen and (max-width: 93.75em) {
  .modal__text-box {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .modal__text-box {
    padding: 0 8rem 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .modal__text-box {
    font-size: 1.6rem;
  }
}
.modal__heading {
  color: #4ade80;
}
@media only screen and (max-width: 93.75em) {
  .modal__heading {
    font-size: 4rem;
  }
}

.hero {
  display: grid;
  align-items: center;
  justify-items: center;
  margin-top: 8vh;
  grid-column: hero-start/hero-end;
  grid-template-columns: 1fr 1fr;
  background-image: linear-gradient(to bottom, transparent 80%, rgba(15, 15, 15, 0.95)), url(/imgs/space-2.jpg);
  background-size: cover;
}
@media only screen and (max-width: 62.5em) {
  .hero {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
}
.hero__text-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 16rem;
  line-height: 1;
}
@media only screen and (max-width: 93.75em) {
  .hero__text-box {
    padding: 0 12rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .hero__text-box {
    text-align: center;
  }
}
@media only screen and (max-width: 93.75em) {
  .hero__heading {
    font-size: 7rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .hero__heading {
    font-size: 6rem;
  }
}
.hero__text {
  font-size: 2rem;
  letter-spacing: 2px;
}
@media only screen and (max-width: 93.75em) {
  .hero__text {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .hero__text {
    font-size: 2rem;
  }
}
.hero__btn {
  color: inherit;
  font-size: 2.4rem;
  text-transform: uppercase;
  align-self: flex-start;
  margin-top: 4rem;
  padding: 2rem 4rem;
  background-color: #16a34a;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s;
}
@media only screen and (max-width: 62.5em) {
  .hero__btn {
    align-self: center;
  }
}
.hero__btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1.5rem 3rem rgba(74, 222, 128, 0.2);
}
.hero__btn:hover:active {
  transform: translateY(-0.25rem);
  box-shadow: 0 1.5rem 4rem rgba(74, 222, 128, 0.1);
}
.hero__img {
  width: 80%;
  animation: floating 10s 0s ease infinite;
}
@media only screen and (max-width: 62.5em) {
  .hero__img {
    width: 40%;
  }
}
@media only screen and (max-width: 37.5em) {
  .hero__img {
    width: 60%;
  }
}

.about {
  padding: 6rem 10rem;
  grid-column: hero-start/hero-end;
  grid-template-columns: 1fr 1fr;
  display: grid;
  align-items: center;
  justify-items: center;
  background-image: linear-gradient(to bottom, transparent 80%, rgba(15, 15, 15, 0.95)), linear-gradient(to bottom, rgba(15, 15, 15, 0.95), transparent 30%), url(/imgs/space-2.jpg);
  background-size: cover;
}
@media only screen and (max-width: 62.5em) {
  .about {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    text-align: center;
  }
}
.about__alien {
  position: absolute;
  width: 75%;
  top: 5rem;
  left: 25rem;
  transition: all 0.3s;
}
@media only screen and (max-width: 75em) {
  .about__alien {
    left: 22rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .about__alien {
    left: 0;
    top: 0;
  }
}
.about__gallery {
  position: relative;
  height: 100%;
  width: 100%;
}
.about__gallery > img[class*=about__gallery] {
  position: absolute;
  border: 3px solid #4ade80;
  border-radius: 15px;
}
.about__gallery-surprise {
  position: relative;
  width: 35%;
  height: 50%;
}
@media only screen and (max-width: 106.25em) {
  .about__gallery-surprise {
    width: 38%;
  }
}
@media only screen and (max-width: 75em) {
  .about__gallery-surprise {
    top: 5rem;
    right: 5rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .about__gallery-surprise {
    width: 25%;
    top: 30%;
    left: 50%;
    translate: -50% -50%;
    z-index: 400;
  }
}
@media only screen and (max-width: 37.5em) {
  .about__gallery-surprise {
    width: 35%;
  }
}
.about__gallery-img {
  transition: all 0.3s;
}
.about__gallery-img--1 {
  top: 0;
  width: 50%;
  top: 40rem;
  left: 35rem;
  z-index: 300;
}
@media only screen and (max-width: 93.75em) {
  .about__gallery-img--1 {
    width: 60%;
    left: 30rem;
  }
}
@media only screen and (max-width: 75em) {
  .about__gallery-img--1 {
    width: 65%;
    left: 25rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .about__gallery-img--1 {
    width: 40%;
    top: 50%;
    left: 0;
    translate: 0 -70%;
  }
}
@media only screen and (max-width: 37.5em) {
  .about__gallery-img--1 {
    width: 55%;
    left: -5rem;
  }
}
.about__gallery-img--2 {
  opacity: 1;
  position: absolute;
  border: 3px solid #4ade80;
  border-radius: 15px;
  width: 100%;
  top: 0;
  left: 20rem;
  z-index: 100;
}
@media only screen and (max-width: 106.25em) {
  .about__gallery-img--2 {
    width: 110%;
  }
}
@media only screen and (max-width: 84.375em) {
  .about__gallery-img--2 {
    width: 120%;
  }
}
@media only screen and (max-width: 62.5em) {
  .about__gallery-img--2 {
    left: 0;
    top: 0;
    z-index: 400;
  }
}
.about__gallery-img--3 {
  width: 50%;
  bottom: 0;
  left: 10rem;
  z-index: 200;
}
@media only screen and (max-width: 106.25em) {
  .about__gallery-img--3 {
    width: 60%;
  }
}
@media only screen and (max-width: 93.75em) {
  .about__gallery-img--3 {
    width: 65%;
  }
}
@media only screen and (max-width: 84.375em) {
  .about__gallery-img--3 {
    bottom: 10rem;
  }
}
@media only screen and (max-width: 75em) {
  .about__gallery-img--3 {
    width: 75%;
  }
}
@media only screen and (max-width: 62.5em) {
  .about__gallery-img--3 {
    width: 45%;
    top: 50%;
    left: 60%;
    translate: 0 -10%;
  }
}
@media only screen and (max-width: 37.5em) {
  .about__gallery-img--3 {
    width: 55%;
  }
}
.about__gallery-img:hover {
  transform: scale(1.1);
  z-index: 1000;
  box-shadow: 0 0 4rem rgba(74, 222, 128, 0.4);
}
.about__gallery-img:hover ~ .about__alien {
  transform: rotate(40deg) translate(20rem, -10rem);
}
@media only screen and (max-width: 46.875em) {
  .about__gallery-img:hover ~ .about__alien {
    transform: rotate(40deg) translate(15rem, -10rem);
  }
}
.about__text-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 3rem;
  position: relative;
}
.about__heading {
  color: #16a34a;
}
@media only screen and (max-width: 37.5em) {
  .about__heading {
    font-size: 3.6rem;
  }
}
.about__text-paragraph {
  font-size: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .about__text-paragraph {
    font-size: 1.6rem;
  }
}

.menu {
  grid-column: hero-start/hero-end;
  grid-template-columns: repeat(3, 1fr);
  background-image: linear-gradient(to bottom, transparent 80%, rgba(15, 15, 15, 0.95)), linear-gradient(to bottom, rgba(15, 15, 15, 0.95), transparent 30%), url(/imgs/space-1-planet.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 6rem 0 10rem;
  position: relative;
}
@media only screen and (max-width: 62.5em) {
  .menu {
    background-image: linear-gradient(to bottom, transparent 80%, rgba(15, 15, 15, 0.95)), linear-gradient(to bottom, rgba(15, 15, 15, 0.95), transparent 30%), url(/imgs/space-1.jpg);
  }
}
@media only screen and (max-width: 62.5em) {
  .menu {
    grid-template-columns: 1fr;
    grid-template-rows: min-content repeat(3, 1fr);
  }
}
.menu__heading {
  grid-column: 1/-1;
  color: #4ade80;
}
@media only screen and (max-width: 62.5em) {
  .menu__heading {
    margin-top: 10rem;
    font-size: 8rem;
  }
}
.menu__ufo {
  position: absolute;
  top: 20%;
  height: 15%;
}
@media only screen and (max-width: 62.5em) {
  .menu__ufo {
    display: none;
  }
}

.footer {
  grid-column: hero-start/hero-end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 6rem;
  gap: 8rem;
}
@media only screen and (max-width: 62.5em) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 6rem 12rem;
  }
}
.footer__logo-box {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.footer__link-list {
  width: 100%;
  height: 5rem;
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  border-bottom: 1px solid white;
}
@media only screen and (max-width: 84.375em) {
  .footer__link-list {
    align-self: center;
  }
}
.footer__link {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  color: white;
  transition: all 0.3s;
}
.footer__link:hover {
  color: #4ade80;
  transform: scale(1.2);
}

.copyright {
  font-size: 1.6rem;
}
@media only screen and (max-width: 75em) {
  .copyright {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .copyright {
    font-size: 2rem;
    padding: 4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .copyright {
    font-size: 1.6rem;
    padding: 2rem 4rem;
  }
}

/*# sourceMappingURL=style.css.map */
