@keyframes floating {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-12rem) rotate(20deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #070707;
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-template-columns: [hero-start nav-start] 8rem [sections-start] 1fr [sections-end] 8rem [hero-end nav-end];
  grid-template-rows: 8vh 92vh 100vh;
  /* grid-template-columns: repeat(8, 1fr); */
}

body {
  font-family: "Orbitron", sans-serif;
}

.heading__primary {
  font-size: 9rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.heading__secondary {
  font-size: 4.8rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: -1px;
  /* text-shadow: -3px 3px 5px white; */
}

.navigation {
  grid-column: nav-start/nav-end;
  display: flex;
  align-items: center;
  padding: 0 4rem;
  font-size: 2rem;
  background-color: black;
}
.navigation__list {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.navigation__item {
  position: relative;
  overflow: hidden;
}
.navigation__item > * {
  display: inline-block;
  height: 100%;
  width: 100%;
  transition: all 0.3s;
  color: white;
}
.navigation__item:hover .navigation__link--visible {
  transform: translateY(-100%);
}
.navigation__item:hover .navigation__link--invisible {
  top: 0;
}
.navigation__link--visible {
  top: -100%;
}
.navigation__link--invisible {
  position: absolute;
  text-decoration: none;
  top: 100%;
  left: 0;
}

.logo {
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo__img {
  width: 4.4rem;
  height: 4.4rem;
  color: white;
}
.logo__text {
  font-size: 2.4rem;
  color: white;
}

.hero {
  grid-column: hero-start/hero-end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: linear-gradient(to bottom, transparent, rgba(18, 18, 18, 0.95) 90%), url(/imgs/space-2.jpg);
  background-size: cover;
  color: #fff;
  align-items: center;
  justify-items: center;
}
.hero__text-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 16rem;
  line-height: 1;
}
.hero__text {
  font-size: 2rem;
  letter-spacing: 2px;
}
.hero__btn {
  color: #fff;
  font-size: 2.4rem;
  text-transform: uppercase;
  align-self: flex-start;
  margin-top: 4rem;
  padding: 2rem 4rem;
  background-color: #16a34a;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s;
}
.hero__btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1.5rem 3rem rgba(74, 222, 128, 0.2);
}
.hero__btn:hover:active {
  transform: translateY(-0.25rem);
  box-shadow: 0 1.5rem 4rem rgba(74, 222, 128, 0.1);
}
.hero__img {
  height: 80%;
  animation: floating 10s 0s ease infinite;
}

.about {
  padding: 6rem 10rem;
  grid-column: hero-start/hero-end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  background: linear-gradient(to bottom, rgba(18, 18, 18, 0.95), transparent 50%), url(/imgs/space-2.jpg);
  background-size: cover;
}
.about__alien {
  position: absolute;
  height: 50%;
  top: 5%;
  left: 25%;
  transition: all 0.3s;
}
.about__gallery {
  position: relative;
  height: 100%;
  width: 100%;
}
.about__gallery > img[class*=about__gallery] {
  position: absolute;
  border: 3px solid #4ade80;
  border-radius: 15px;
}
.about__gallery-img {
  transition: all 0.3s;
}
.about__gallery-img--1 {
  top: 0;
  width: 50%;
  top: 40%;
  left: 35%;
  z-index: 300;
}
.about__gallery-img--2 {
  height: 60%;
  top: 0;
  left: 20%;
  z-index: 100;
}
.about__gallery-img--3 {
  width: 50%;
  bottom: 0;
  left: 10%;
  z-index: 200;
}
.about__gallery-img:hover {
  transform: scale(1.1);
  z-index: 1000;
  box-shadow: 0 0 4rem rgba(74, 222, 128, 0.4);
}
.about__gallery-img:hover ~ .about__alien {
  transform: rotate(35deg) translate(15rem, -6rem);
}
.about__text-box {
  color: #16a34a;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 3rem;
  position: relative;
}
.about__text-paragraph {
  color: #f9fafb;
  font-size: 2rem;
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
