@keyframes floatingBtn {
  0% {
    transform: translateY(0);

    box-shadow: 0 1rem 2rem rgba(green, 0.4);
  }

  50% {
    transform: translateY(-0.5rem);
    box-shadow: 0 0.5rem 1rem rgba(green, 0.2);
  }

  100% {
    transform: translateY(0);
    box-shadow: 0 1rem 2rem rgba(green, 0.4);
  }
}
