@keyframes floating {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(-12rem) rotate(20deg);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    width: 80%;
    height: 80vh;
  }
}

@keyframes tiltRight {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(10deg);
  }
}
@keyframes tiltLeft {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-10deg);
  }
}

@keyframes untiltRight {
  0% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes untiltLeft {
  0% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0);
  }
}
