$color-primary: #16a34a;
$color-primary-light: #4ade80;
$color-primary-dark: #166534;

$color-text: #f9fafb;

$color-gray-dark: #070707;
$color-gray-light: #101010;

$section-separation-shadow: rgba(15, 15, 15, 0.95);

//Queries
$phone-smallest: 37.5em;
$phone: 46.875em;
$tab-port: 62.5em;
$tab-land: 75em;
$smallest-desktop: 84.375em;
$small-desktop: 93.75em;
$medium-desktop: 106.25em;
$big-desktop: 112.5em;
