$color-primary: #16a34a;
$color-primary-light: #4ade80;
$color-primary-dark: #166534;

$color-text: #f9fafb;

$color-gray-dark: #070707;
$color-gray-light: #101010;

$section-separation-shadow: rgba(15, 15, 15, 0.95);
