@use "../abstracts/animations" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.hero {
  @include gridCenter;
  margin-top: 8vh;
  grid-column: hero-start / hero-end;
  grid-template-columns: 1fr 1fr;
  background-image: linear-gradient(
      to bottom,
      transparent 80%,
      $section-separation-shadow
    ),
    url(/imgs/space-2.jpg);
  background-size: cover;

  @include respond($tab-port) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 16rem;
    line-height: 1;

    @include respond($small-desktop) {
      padding: 0 12rem;
    }

    @include respond($tab-port) {
      text-align: center;
    }
  }

  &__heading {
    @include respond($small-desktop) {
      font-size: 7rem;
    }

    @include respond($phone-smallest) {
      font-size: 6rem;
    }
  }

  &__text {
    font-size: 2rem;
    letter-spacing: 2px;

    @include respond($small-desktop) {
      font-size: 1.6rem;
    }

    @include respond($tab-port) {
      font-size: 2rem;
    }
  }

  &__btn {
    color: inherit;
    font-size: 2.4rem;
    text-transform: uppercase;

    align-self: flex-start;

    margin-top: 4rem;
    padding: 2rem 4rem;

    background-color: $color-primary;

    border: none;
    border-radius: 100px;

    cursor: pointer;

    transition: all 0.3s;

    @include respond($tab-port) {
      align-self: center;
    }

    &:hover {
      transform: translateY(-0.5rem);
      box-shadow: 0 1.5rem 3rem rgba($color-primary-light, 0.2);

      &:active {
        transform: translateY(-0.25rem);
        box-shadow: 0 1.5rem 4rem rgba($color-primary-light, 0.1);
      }
    }
  }

  &__img {
    width: 80%;

    animation: floating 10s 0s ease infinite;

    @include respond($tab-port) {
      width: 40%;
    }

    @include respond($phone-smallest) {
      width: 60%;
    }
  }
}
