@use "../abstracts/animations" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.hero {
  @include gridCenter;
  grid-column: hero-start / hero-end;
  grid-template-columns: 1fr 1fr;
  background-image: linear-gradient(
      to bottom,
      transparent 80%,
      $section-separation-shadow
    ),
    url(/imgs/space-2.jpg);
  background-size: cover;

  &__text-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 16rem;
    line-height: 1;
  }

  &__text {
    font-size: 2rem;
    letter-spacing: 2px;
  }

  &__btn {
    color: inherit;
    font-size: 2.4rem;
    text-transform: uppercase;

    align-self: flex-start;

    margin-top: 4rem;
    padding: 2rem 4rem;

    background-color: $color-primary;

    border: none;
    border-radius: 100px;

    cursor: pointer;

    transition: all 0.3s;

    &:hover {
      transform: translateY(-0.5rem);
      box-shadow: 0 1.5rem 3rem rgba($color-primary-light, 0.2);

      &:active {
        transform: translateY(-0.25rem);
        box-shadow: 0 1.5rem 4rem rgba($color-primary-light, 0.1);
      }
    }
  }

  &__img {
    height: 80%;

    animation: floating 10s 0s ease infinite;
  }
}
