@use "../abstracts/animations" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.overlay {
  position: absolute;
  z-index: 1000;

  height: 100%;
  width: 100%;

  background-color: rgba(7, 7, 7, 0.7);
}

.modal {
  position: absolute;
  z-index: 1200;

  background-color: $color-gray-dark;
  border: 3px solid $color-primary;
  border-radius: 15px;

  animation: fadeIn 0.5s forwards;

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;

    @include respond($tab-port) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }

  &__btn-close {
    grid-column: 1 / -1;
    background: none;
    border: none;
    color: $color-primary;

    width: 4.8rem;
    height: 4.8rem;
    margin-left: calc(100% - 7rem);
    margin-top: 2rem;

    cursor: pointer;

    transition: all 0.3s;

    &:hover {
      color: $color-primary-light;
    }
  }

  &__icon-close {
    width: 4.8rem;
    height: 4.8rem;
  }

  &__img {
    width: 60%;

    @include respond($tab-port) {
      grid-row: 2;
      width: 40%;
      padding-bottom: 5rem;
    }
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20rem;

    padding: 0 8rem 6rem;
    font-size: 2.4rem;

    @include respond($medium-desktop) {
      gap: 10rem;
      padding: 0 4rem 5rem;
    }

    @include respond($small-desktop) {
      font-size: 2rem;
    }

    @include respond($tab-port) {
      padding: 0 8rem 2rem;
    }

    @include respond($phone-smallest) {
      font-size: 1.6rem;
    }
  }

  &__heading {
    color: $color-primary-light;

    @include respond($small-desktop) {
      font-size: 4rem;
    }
  }
}
