@use "../abstracts/animations" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.overlay {
  position: absolute;
  z-index: 1000;

  height: 100%;
  width: 100%;

  background-color: rgba(7, 7, 7, 0.7);
}

.modal {
  position: absolute;
  z-index: 1200;

  background-color: $color-gray-dark;
  border: 3px solid $color-primary;
  border-radius: 15px;

  grid-template-columns: 1fr 1fr;
  /* align-items: center; */
  justify-items: center;
  animation: fadeIn 0.5s forwards;

  &__btn-close {
    grid-column: 1 / -1;
    background: none;
    border: none;
    color: $color-primary;

    width: 4.8rem;
    height: 4.8rem;
    margin-left: 95%;
    margin-top: 2rem;

    cursor: pointer;

    transition: all 0.3s;

    &:hover {
      color: $color-primary-light;
    }
  }

  &__icon-close {
    width: 4.8rem;
    height: 4.8rem;
  }

  &__img {
    height: 80%;
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 0 8rem 6rem;
    font-size: 2.4rem;
  }

  &__heading {
    color: $color-primary-light;
  }
}
