@use "../abstracts/animations" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.navigation {
  grid-column: nav-start / nav-end;
  position: fixed;
  height: 8vh;
  width: 100vw;
  z-index: 3000;

  display: flex;
  align-items: center;

  padding: 0 4rem;

  font-size: 2rem;

  background-color: $color-gray-dark;

  &__list {
    list-style: none;
    display: flex;
    gap: 2rem;
  }

  &__item {
    position: relative;
    overflow: hidden;
    & > * {
      display: inline-block;
      height: 100%;
      width: 100%;
      transition: all 0.3s;
    }

    &:hover .navigation__link--visible {
      transform: translateY(-100%);
    }

    &:hover .navigation__link--invisible {
      top: 0;
    }
  }

  &__link--visible {
    top: -100%;
  }

  &__link--invisible {
    &:link,
    &:visited {
      position: absolute;
      color: white;

      text-decoration: none;

      top: 100%;
      left: 0;
    }
    &:hover,
    &:active {
      color: white;
    }
  }
}

.logo {
  margin-right: auto;

  display: flex;
  align-items: center;
  gap: 1rem;
  &__img {
    width: 4.4rem;
    height: 4.4rem;
  }

  &__text {
    font-size: 2.4rem;
  }
}
