@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

// reset and setting page font-size to 10px
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  background-color: $color-gray-dark;
  box-sizing: border-box;
  position: relative;

  display: grid;

  grid-template-columns:
    [hero-start nav-start]8rem
    [sections-start] 1fr
    [sections-end] 8rem
    [hero-end nav-end];

  grid-template-rows: 100vh 100vh min-content min-content;
}
