@use "../abstracts/animations" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

body {
  font-family: "Orbitron", sans-serif;
}

.heading__primary {
  font-size: 9rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.heading__secondary {
  font-size: 4.8rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: -1px;

  /* text-shadow: -3px 3px 5px white; */
}
