.mb-small {
  margin-bottom: 2rem;
}
.mb-medium {
  margin-bottom: 4rem;
}
.mb-large {
  margin-bottom: 6rem;
}
.mb-huge {
  margin-bottom: 25rem;
}

.hidden {
  display: none;
  opacity: 0;
}

.modal-visible {
  display: grid;
}
